*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* star is a universal selector */

.one{
    height: 200px;
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: bisque;
    border: 10px solid black;

}
/* margin is outer layer of box desine
padding is a inner space(safe area)  */